<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="создание сайтов, разработка приложений, индивидуальный дизайн, купить сайт, создать веб-сайт онлайн, web-сайт в России, website, web app, продвижение, веб студия, SalihGeorge, SEO оптимизация, поддержка CMS, wordpress, prestoshop, лендинги, разработка лендинга, шаблоны, разработка интернет магазинов, интернет магазин ">
    <meta name="description" content="SalihGeorge - создание, разработка сайтов под ключ, продвижения, оптимизация, поддержка сайтов в странах СНГ и по всему миру. Предлагает уникальный индивидуальный дизайн">
    <meta name="author" content="Разработка сайтов">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <title>Создание и разработка сайтов в России | Web-приложения | интернет магазины | SEO - оптимизация и реклама</title>
  </head>
  <body>
        <header id="Element_change" class="menu_header">
          <div class="top_meni_items">
            <div id="logo_id" class="logotyous"> Salih<span>George</span></div>
               <div class="wrapper">
                  <div class="toggle">
                    <input id="changeAllel"  class="toggle-input" type="checkbox" />
                    <div class="toggle-bg"></div>
                      <div class="toggle-switch">
                         <div class="toggle-switch-figure"></div>
                         <div class="toggle-switch-figureAlt"></div>
                      </div>  
                  </div>
                  </div>
            </div>
            <div id="hello_change" class="inform_block">
            <h1>Создание, разработка,<br> продвижения сайтов</h1>
            <h3>SalihGeorge занимается самой эффективной разработкой сайтов<br> в Казахстане в Алматы, является лучшей онлайн студией создания сайтов</h3>
            </div>
            <nav id="rofler" class="navigation_header">
              <ul>
                <li><a href="#">Конструктор</a></li>
                <li><a href="#">Портфолио</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Ссылки</a></li>
              </ul>
            </nav>
        </header>

    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>